[*.cs]

# CS8600: 将 null 字面量或可能为 null 的值转换为非 null 类型。
dotnet_diagnostic.CS8600.severity = silent

# CA2101: 指定对 P/Invoke 字符串参数进行封送处理
dotnet_diagnostic.CA2101.severity = silent

# SYSLIB1054: 使用 “LibraryImportAttribute” 而不是 “DllImportAttribute” 在编译时生成 P/Invoke 封送代码
dotnet_diagnostic.SYSLIB1054.severity = silent
